// colors:
$offwhite: #f7f7f2;
$lightpink: #f0a8ad;
$darkpink: #ea858c;
$lightblue: #72a8d5;
$darkblue: #5295cb;
$border: #0d1821;

// fonts:
$epilogue: 'Epilogue', sans-serif;
$rubik: 'Rubik Mono One', sans-serif;

body {
    background-color: $offwhite;
    font-family: $epilogue;

    user-select: none;
    cursor: default;
}

#header {
    width: 80%;
    height: 100px;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;

    border-bottom: 1px solid $border;
    background-color: $offwhite;

    .headertab {
        padding-top: 30px;
        font-size: 28px;

        cursor: pointer;
    }

    #title {
        font-size: 60px;
        font-family: $rubik;
        color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $border;
    }
}

#searchbox {
    width: 70%;
    height: 500px;

    position: absolute;
    margin: 0 auto;
    margin-top: 150px;
    left: 0;
    right: 0;

    background: linear-gradient(-45deg, $darkpink, $lightpink, $lightblue, $darkblue);
    background-size: 250% 250%;
    animation: gradient 10s ease infinite;
    -webkit-animation: gradient 10s ease infinite;

    form {
        text-align: center;
        color: $offwhite;
        font-size: 60px;
    }

    select {
        cursor: pointer;

        color: $offwhite;
        font-size: 40px;

        appearance: none;
        background-color: transparent;
        border-radius: 0;
        border: none;
        border-bottom: 2px solid $offwhite;
        margin-top: 85px;

        text-align-last: right;
        padding-right: 10px;

    }

    .selected {
        font-size: 60px;
        text-align-last: left;
        margin-top: 65px;
    }

    #identity {
        width: 610px;
    }

    #service {
        width: 500px;
    }

    #location {
        width: 590px;
    }

    // button {
    //     display: block;
    //     margin: 0 auto;
    //     margin-top: 35px;
    //     cursor: pointer;

    //     border: none;
    //     background-color: transparent;
    //     color: $offwhite;
    //     font-family: $epilogue;
    //     font-size: 30px;
    // }

    // button:hover {
    //     border-bottom: 2px solid $offwhite;
    // }
}

#listingcontainer {
    display: none;
    
    margin-top: 150px;
    scroll-margin-top: 120px;
    // padding-bottom: 30px;

    h1 {
        margin-bottom: 0;
        font-weight: lighter;
    }

    #searchtitle {
        font-size: 30px;
        color: $offwhite;

        padding: 30px;
        margin-bottom: 20px;

        background: linear-gradient(-45deg, $darkpink, $lightpink, $lightblue, $darkblue);
        background-size: 250% 250%;
        animation: gradient 10s ease infinite;
        -webkit-animation: gradient 10s ease infinite;

        h2 {
            display: inline;
            padding-right: 10px;
        }

        .searchnear {
            font-weight: lighter;
        }
    }

    #listingsmallcontainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 30px;

        #listingsmall {
            width: 30%;

            h3 {
                font-weight: normal;
                margin: 0;
            }
            
            p {
                // text-align: justify;
                height: 150px;
                overflow: scroll;
            }

            .commentlabel {
                text-align: center;
            }
        }

        h2 {
            cursor: pointer;
        }
    }
}

// animations:
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}